@import url('https://fonts.googleapis.com/css2? family= Josefin+Sans:ital,wght@0,300;1,300;1,400;1,700 & display=swap');

body {
    background-color: #0077B6;
    color: aliceblue;
    font-family: 'Josefin Sans', sans-serif;
}

img {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    object-fit: cover; 
}

.unix {
    font-size: 10px
}

.html {
    font-size: 12px;
}

.css {
    font-size: 14px;
}

.js {
    font-size: 16px;
}

.python {
    font-size: 20px;
}